/* https://edwardtufte.github.io/tufte-css/ */

html.article {
  background-color: #fff;
}

.article body {
  background: linear-gradient(to bottom, @header-color 400px, #fff 400px);
  background-color: #fff;
  counter-reset: sidenote-counter;

  header {
    font-family: HoeflerText-Regular, Cochin, Georgia, serif;
    width: 100%;
    min-height: 400px - 15px;
    padding-bottom: 15px;
    color: #fff;
    background-color: @header-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .homepage {
      width: 92%;
      font-size: 1rem;
      margin-left: 8%;
      margin-top: 12px;

      a {
        .underlined(#fff, @header-color);
      }
    }

    .title-container {
      width: 45rem;
    }

    .icons {
      width: 45rem;
      text-align: right;

      a {
        color: rgba(255,255,255,.9)
      }

      .fa-inverse {
        color: @header-color;
      }

      a:hover {
        color: #fff;
      }
    }

    h1 {
      font-size: 56px;
      margin-bottom: 48px;
      letter-spacing: -1px;
      line-height: 1.3em;
    }

    .subtitle {
      font-style: italic;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      display: block;
      line-height: 1;
    }
  }

  div.main {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .05), inset 0 2px 3px 0 rgba(0, 0, 0, .1);
    width: 100%;
  }

  .article-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
  }

  article {
    font-family: Georgia, serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    line-height: 1.55em;
    position: relative;
    padding: 2rem 0rem;

    .numeral {
      font-family: et-book-roman-old-style;
    }

    .danger {
      color: red;
    }

    section {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    p, ol, ul {
      font-size: 1.4rem;
    }

    img, video {
      max-width: 100%;
    }

    p {
      line-height: 2.2rem;
      margin-top: 1.4rem;
      margin-bottom: 1.4rem;
      padding-right: 0;
      vertical-align: baseline;
    }

    h2 {
      font-family: HoeflerText-Regular, Cochin, Georgia, serif;
      font-weight: 400;
      font-size: 1.7rem;
      margin-top: 2rem;
      margin-bottom: 0;
      line-height: 1;
    }

    div.epigraph {
      margin: 5em 0;
    }

    div.epigraph > blockquote {
      margin-top: 3em;
      margin-bottom: 3em;
    }

    div.epigraph > blockquote, div.epigraph > blockquote > p {
      font-style: italic;
    }

    div.epigraph > blockquote > footer {
      font-style: normal;
    }

    div.epigraph > blockquote > footer > cite {
      font-style: italic;
    }

    /* end chapter epigraphs styles */
    blockquote {
      font-size: 1.4rem;
    }

    blockquote p {
      width: 100%;
      margin-right: 40px;
    }

    blockquote footer {
      width: 100%;
      font-size: 1.1rem;
      text-align: right;
    }

    section>ol, section>ul {
      width: 45%;
      -webkit-padding-start: 5%;
      -webkit-padding-end: 5%;
    }

    li {
      padding: 0.5rem 0;
    }

    figure, .figure {
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      max-width: 100%;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      margin: 0 0 3em 0;
    }

    figcaption, .figure .caption {
      float: right;
      clear: right;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.1rem;
      line-height: 1.6;
      vertical-align: baseline;
      position: relative;
      max-width: 40%;
    }

    figure.fullwidth figcaption, .figure .caption {
      margin-right: 24%;
    }

    a {
      .underlined(rgba(0, 0, 0, 0.8), #fff);
    }

    em {
      font-weight: 700;
    }

    pre, code {
      margin-bottom: 24px;
    }
  }

  div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
  }

  .sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em;
  }

  code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
  }

  .sans > code {
    font-size: 1.2rem;
  }

  h1 > code, h2 > code, h3 > code {
    font-size: 0.80em;
  }

  .marginnote > code, .sidenote > code {
    font-size: 1rem;
  }

  pre.code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
  }

  pre.code.fullwidth {
    width: 90%;
  }

  .fullwidth, article .figure {
    max-width: 100%;
    clear: both;
  }

  span.newthought {
    font-variant: small-caps;
    font-size: 1.2em;
  }

  input.margin-toggle {
    display: none;
  }

  label.sidenote-number {
    display: inline;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: none;
  }

  .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

@media (max-width:960px) {
  .article body {
    .article-container {
      max-width: 84%;
      padding-left: 8%;
      padding-right: 8%;
    }

    header .title-container, header .icons {
      width: 84%;
      padding-left: 8%;
      padding-right: 8%;
    }

    article {
      p, footer {
        width: 100%;
      }

      pre.code {
        width: 97%;
      }

      section > ol {
        width: 90%;
      }

      section > ul {
        width: 90%;
      }

      figcaption, figure.fullwidth figcaption, .figure .caption {
        margin-right: 0%;
        max-width: none;
      }

      blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
      }

      label {
        cursor: pointer;
      }

      div.table-wrapper, table {
        width: 85%;
      }

    }

  }

}

// KeyWordTok
.sourceCode .kw { color: #268BD2; }
// DataTypeTok
.sourceCode .dt { color: #268BD2; }

// DecValTok (decimal value), BaseNTok, FloatTok
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
// CharTok
.sourceCode .ch { color: #DC322F; }
// StringTok
.sourceCode .st { color: #2AA198; }
// CommentTok
.sourceCode .co { color: #93A1A1; }
// OtherTok
.sourceCode .ot { color: #A57800; }
// AlertTok
.sourceCode .al { color: #CB4B16; font-weight: bold; }
// FunctionTok
.sourceCode .fu { color: #268BD2; }
// RegionMarkerTok
.sourceCode .re { }
// ErrorTok
.sourceCode .er { color: #D30102; font-weight: bold; }
